.audio-filters {
	margin-bottom: 10px;
}
.audio-filters .author {
	float: left;
	width: 64px;
}
.audio-filters .date {
	float: right;
	width: 64px;
}
.audio-filters .title {
	margin: 0 84px;
}
.audio-filters span {
	padding-right: 15px;
	background: url("../images/icon-arrow.png") 100% 7px no-repeat;
	border-bottom: 1px dotted #000;
	color: #0a3674;
	cursor: pointer;
}