.tr {
  background-color: red;
  height: 200px;
  margin: 0 0 30px;
  display: block;
}
.trb, .trc {
  background: url("http://toldot.ru/images/trm9.png") repeat-x center top;
  height: 200px;
}
.trc {
  background: url("http://toldot.ru/images/trm9.png") repeat-x scroll center bottom;
  margin: 0 auto;
  max-width: 1223px;
}