.topbar {
	height: 37px;
	width: 100%;
	background: #0e53b2;
}

/* ссылки в левой части */
.topnav {
	float: left;
}
.topnav li {
	display: block;
	float: left;	
}
.topnav a {
	font-size: 1.3rem;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #fff;
	display: block;
	border-left: 1px solid #2361b6;
	border-bottom: 1px solid transparent;
	width: 120px;
  	line-height: 2.8;
  	text-align: center;

	-moz-transition: all 0.17s;
	-webkit-transition: all 0.17s;
	-o-transition: all 0.17s;
	transition: all 0.17s;
}
.topnav .articles:hover,
.topnav .articles.current {
 	background: #f8f8f8;
 	color: #727272;
}
.topnav .audio:hover,
.topnav .audio.current {
	background: #ecf5e4;
 	color: #8db20e;
}
.topnav .video:hover,
.topnav .video.current {
 	background: #e7f7ee;
 	color: #4fc77a;
}
.topnav .photo:hover,
.topnav .photo.current {
 	background: #f9ebdf;
 	color: #9c5630;
}
.topnav .blogs:hover,
.topnav .blogs.current {
 	background: #eef6f8;
 	color: #3792aa;
}



/* форма */
.search {
	float: left;
	padding: 4px 0px;
}
.search input[type="text"] {
	padding: 5px 20px;
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;
	width: 260px;
}
.search input[type="submit"] {
	border: 0;
	background: url('../images/icon_search.png') no-repeat center;
	margin: 0px 0 0 -36px;
	padding: 0;
	width: 30px;
	height: 23px;	
	opacity: .8;
	cursor: pointer;
}
.search input[type="submit"]:hover {
	opacity: 1;
}
.search ::-webkit-input-placeholder {color:#d2d2d2; font-weight: bold; font-family: 'Open Sans', sans-serif;}
.search ::-moz-placeholder          {color:#d2d2d2; font-weight: bold; font-family: 'Open Sans', sans-serif;}/* Firefox 19+ */
.search :-moz-placeholder           {color:#d2d2d2; font-weight: bold; font-family: 'Open Sans', sans-serif;}/* Firefox 18- */
.search :-ms-input-placeholder      {color:#d2d2d2; font-weight: bold; font-family: 'Open Sans', sans-serif;}