.audio-authors-list {
	padding: 6px 0 7px 0;
	font: normal 1.3rem/2.4rem 'Open Sans', sans-serif;
}
.audio-authors-list > li:before {
	content: "\2022";
	display: inline-block;
	padding-right: 7px;
	color: #668dca;
}
.audio-authors-list > li a {
	color: #668dca;
	text-decoration: underline;
}
.audio-authors-list > li a:hover {
	text-decoration: none;
}