.block-a {
	margin-bottom: 20px;
}

/* перебиваем ширины универсальной табличной модели */
.block-a .column-left {
	width: auto;
}
.block-a .column-right {
	width: 295px;
}
.block-a .slider-box {
	width: auto;
}


.block-a .lenta-box {
	border: 2px solid #ddd;
	box-sizing: border-box; /* чтоб 2пкс граница не торчала */
	margin-bottom: 20px;
}


/* баннеры */
.block-a .banner-central {
	width: 300px;
	font-size: 0;
	padding-left: 5px;
}




