.questions {
	font-family: 'Noto Serif', serif;
	display: block;
 	border-top: 1px solid #ccc;
 	margin-top: -1px; /* чтоб цветная граница закрыла серую */
 	z-index: 1;  /* чтоб цветная граница закрыла серую */
 	padding: 20px 0;
 	color: #000;
 	text-decoration: none;
}
.questions:first-child {
 	border-top: 0;
}
.questions h6,
.questions h5,
.questions h4 {
	margin-bottom: 5px;
}
.questions:hover h6,
.questions:hover h5,
.questions:hover h4 {
	text-decoration: underline;
}

/* колонки */
.questions .icon {
	float: left;
 }
.questions .content {
  margin-left: 79px;
 }


.questions .details {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	color: #6c6c6c;
}
.questions .description {
	margin-top: 10px;
	font-size: 1.4rem;
	line-height: 1.4;
}
.favourite .description {
	line-height: 1.6;
}
