
/* хидер */
.daytopic-title {
	background: #f90 url("../images/header-bg.jpg") no-repeat center;
/*	background-size: cover; /* отклонено */
	height: 295px;
}
.daytopic-title .menu {
	background: rgba(0,0,0,.3);
	font-family: 'Open Sans', sans-serif;
}
.daytopic-title .menu a {
	color: #fff;
	font-weight: bold;
	font-size: 1.8rem;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	display: inline-block;
	padding: 12px 12px 14px 0;
}
.daytopic-title .menu a:hover {
	text-decoration: underline;
}
.daytopic-title .bottom-text {
	padding-left: 20%;
}







/* контентная область */
.daytopic-content {
	margin-bottom: 20px;
}
.daytopic-content .column-left, .daytopic-content .column-right {
	width: 20%;
}
.daytopic-content .column-left .intopic {
	border: 1px solid #ccc;
	margin: 20px 20px 0 0;
}
.daytopic-content .column-central {
	border: 1px solid #ccc;
	border-top: 0;
	padding: 20px;
	width: auto;
}
.daytopic-content .column-central .separate {
	border-bottom: 1px solid #ccc;
}

.daytopic-content .column-central .table-cell {
	width: 33.3%;
	padding-left: 20px;
}
.daytopic-content .column-central .table-cell:first-child {
	padding-left: 0;
}

.intopic {
	font-family: 'Open Sans', sans-serif;
}