.daytopic-content {
	margin-bottom: 20px;
	background-image: url("../images/content-bg_01.jpg"), url("../images/content-bg_02.jpg");
	background-repeat: no-repeat;
	background-position: 10% 94%, 96% 90%;
}
.daytopic-content .column-left, .daytopic-content .column-right {
	width: 20%;
}







.daytopic-content .column-central {
	border: 1px solid #ccc;
	border-top: 0;
	padding: 20px;
	width: auto;
	background: rgba(255,255,255,.9);
}
.daytopic-content .column-central .summary {
	font-family: 'Noto Serif', serif;
	font-size: 1.6rem;
	line-height: 1.6;
	padding-bottom: 30px;
}
.daytopic-content .column-central .summary.separate {
	border-bottom: 1px solid #ccc;
}
.daytopic-content .column-central .summary a {
	color: #0e53b2;
}

.daytopic-content .column-central .table-cell {
	width: 33.3%;
	padding-left: 20px;
}
.daytopic-content .column-central .table-cell:first-child {
	padding-left: 0;
}

.intopic {
	font-family: 'Open Sans', sans-serif;
}