.block-seo {
	margin-bottom: 40px;
	color: #323232;
}
.block-seo a {
	color: #323232;
	text-decoration: underline;
}
.block-seo a:hover {
	text-decoration: none;
}

.block-seo h4 {
	margin-bottom: 20px;
}
.block-seo h6 {
	margin-bottom: 5px;
}
.block-seo p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 1.4;	
}
/* перебиваем ширины табличной модели */
.block-seo .column-left {
	width: 40.4%;
}
.block-seo .column-central {
	width: 26.6%;
}
.block-seo .column-right {
	width: 33.0%;
}


