
.catalog-wrapper {
	margin-bottom: 20px;
}

.block-title {
	padding: 0 0 10px 0;
	margin-bottom: 10px;
  	border-bottom: 1px solid #e5e5e5;
  	font-family: 'Noto Serif', serif;
  	font-size: 20px;
  	font-weight: bold;
  	color: #b38d39;
}

.catalog-list {
	margin-bottom: 25px;
}

.catalog-filters {
	margin-bottom: 10px;
    padding: 0 20px;
    font-size: 13px;
    color: #0a3674;
}
.catalog-filters .author {
	float: left;
	width: 64px;
}
.catalog-filters .date {
	float: right;
	width: 64px;
}
.catalog-filters .type {
    float: right;
    width: 120px;
}
.catalog-filters .title {
	margin: 0 84px;
}
.catalog-filters span {
	padding-right: 15px;
	background: url("../images/icon-arrow.png") 100% 7px no-repeat;
	border-bottom: 1px dotted #000;
	color: #0a3674;
	cursor: pointer;
    font-family: 'Noto Serif', serif;
}
.catalog-filters span:hover {
    border: none;
}
.catalog-item {
    display: block;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
}

.catalog-item .author-photo {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    background-size: cover; /* масштабируем фон на всякий случай */
}
.catalog-item .author-photo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.catalog-item .icon {
    background: url("../images/icon-audio.png") bottom no-repeat;
    width: 32px;
    height: 33px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.catalog-item .header {
    display: table;
}
.catalog-item .header .center {
    display: table-cell;
    vertical-align: middle;
}
.catalog-item  h4 {
    margin-bottom: 11px;
}
.catalog-item  h4 a {
    color: #000;
    text-decoration: none;
}
.catalog-item  h4 a:hover {
    text-decoration: underline;
}
.catalog-item  .details {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6c6c6c;
}
.catalog-item .catalog-info-container {
    margin-left: 85px;
    margin-right: 200px;
}
.catalog-item  .description {
    margin: 12px 0 17px 0;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 1.4;
}
.catalog-item  .description .more {
    font-family: inherit;
}

.catalog-item .catalog-date {
    float: right;
    width: 64px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #6c6c6c;
}

.catalog-item .item-type {
    float: right;
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    margin-top: 4px
}

.catalog-item .item-type span {
    padding: 0 3px 1px;
    text-transform: uppercase;
}


.catalog-item-video {
    background-color: #eaf8f0;
}
.catalog-item-video h4 a {
    color: #4fc77a;
}
.catalog-item-video .item-type span {
    background-color: #4fc77a;
}


.catalog-item-audio {
    background-color: #eef6e7;
}
.catalog-item-audio h4 a {
    color: #8db20e;
}
.catalog-item-audio .item-type span {
    background-color: #8db20e;
}


.catalog-item-article {
    background-color: #eeeeee;
}
.catalog-item-article h4 a {
    color: #000;
}
.catalog-item-article .item-type span {
    background-color: #a7a7a7;
}



.catalog-item-question {
    background-color: #f8f4ea;
}
.catalog-item-question h4 a {
    color: #b38d39;
}
.catalog-item-question .item-type span {
    background-color: #b38d39;
}


.catalog-item-cycle {
    background-color: #f8eaf5;
}
.catalog-item-cycle h4 a {
    color: #b20e89;
}
.catalog-item-cycle .item-type span {
    background-color: #b20e89;
}