.catalog-filters {
	display: table;
	width: 100%;
	padding: 10px 0;
	font-family: 'Noto Serif', serif;
  	border-bottom: 1px solid #e5e5e5;
	font-size: 12px;	
}
.catalog-filters > li {
	display: table-cell;
	padding: 0 10px;
}
.catalog-filters > li:first-child {
	width: 64px;
	padding-left: 0;
}
.catalog-filters > li:last-child {
	width: 64px;
	padding-right: 0;
}

.catalog-filters ul {
	display: table;
	width: 100%;
}
.catalog-filters ul li {
	display: table-cell;
}
.catalog-filters ul li:nth-child(2){
	width: 100px;
}
.catalog-filters span {
	padding-right: 15px;
	background: url(../images/icon-arrow.png) 100% 7px no-repeat;
	border-bottom: 1px dotted #000;
	color: #0a3674;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.catalog-filters span:hover {
	background-image: url(../images/icon-arrows.png);
	background-position: 100% 3px;
}



.page_family .catalog-filters {
	border-top: 1px solid #e5e5e5;
}