header {
	background: #f8f8f8;
	border-bottom: 1px solid #dedede;
	margin-bottom: 20px
}

.logo {
	float: left;
	text-decoration: none;
}
.logo .title {
	display: block;
	font-size: 3.6rem;
	color: #0e53b2;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	margin: 0 0 1px;

}
.logo .note {
	display: block;
	font-size: 1.2rem;
	color: #a8a8a8;
	font-family: 'Open Sans', sans-serif;
}


.banner-header {
	display: block;
	width: 50%;
	height: 67px;
	margin: 20px 0 20px 50%;
	font-size: 0;
	text-align: right;
	background-position: center;
	background-repeat: no-repeat; 
}
