
.daytopic-content .column-left .intopic {
	border: 1px solid #e5e5e5;
	margin: 20px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	padding: 15px 20px 20px;
}
.daytopic-content .column-left .intopic h3 {
	font-family: 'Noto Serif', serif;
	margin-bottom: 20px;
}
.daytopic-content .column-left .intopic ul {
	margin-bottom: 20px;
}
.daytopic-content .column-left .intopic li {
	padding-bottom: 5px;
}
.daytopic-content .column-left .intopic li:before {
	color: #2f63b7;
	display: inline-block;
	content: "\2022";
	padding-right: 5px;
}
.daytopic-content .column-left .intopic a {
	color: #2f63b7;
}
