.learn-item {
	padding: 0 0 20px 0;
}
.learn-item .learn-item-link {
	display: block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	border-top: 1px solid #e5e5e5;
}
.learn-item .learn-item-link:first-child {
	border: none;
}
.learn-item img {
	margin: 0 10px 0 0;
	float: left;
}
.learn-item .title {
	font-size: 13px;
	color: #000;
	font-weight: 700;
}
.learn-item:hover .title {
	text-decoration: underline;
}