.navigation-list {
	margin: 10px 0;
}
.navigation-list li {
	float: left;
	font: normal 1.3rem/2.2rem 'Open Sans', sans-serif;
}
.navigation-list li:after {
	content: '•';
	margin: 0 7px 0 3px;
	color: #a9a9a9;
}
.navigation-list li:last-child:after{
	content: '';
}
.navigation-list li .number-label {
	vertical-align: top;
	font-size: 1.1rem;
	color: #a9a9a9;
}