.radio-toldot {
	border: 2px solid #c4af23;
	font: bold 1.2rem 'Open Sans', sans-serif;
	margin-bottom: 15px;
	background: #fff;
}
.radio-toldot h3 {
	padding: 6px 0 7px 12px;
	background: #fbfae9;
	color: #c4af23;
	text-transform: uppercase;
	font: bold 1.2rem 'Open Sans', sans-serif;
}
.radio-toldot ul {
	padding: 0 10px;
}

.radio-toldot ul li {
	position: relative;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
}
.radio-toldot ul li:first-child {
	border-top: none;
}
.radio-toldot ul li.next-audio {
}

.radio-toldot li a {
	color: #000;
	text-decoration: none;
}
.radio-toldot li a:hover .audio-title {
	text-decoration: underline;
}
.radio-toldot li.next-audio a {
	color: #bbb;
}
.radio-toldot .audio-icon {
	position: absolute;
	top: 50%;
	left: 2px;
	display: block;
	width: 32px;
	height: 33px;
	margin-top: -17px;
	background: url("../images/icon-arrow-play.png") bottom no-repeat;
}
.radio-toldot .audio-icon.gray {
	background: url("../images/icon-arrow-gray.png") bottom no-repeat;
}
.radio-toldot .audio-description {
	margin-left: 42px;
}
.radio-toldot .label-0 {
	display: inline-block;
	padding: 0 3px 0 0;
}
.radio-toldot .audio-info {
	font-size: 0;
}
.radio-toldot .audio-info .audio-title {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 77px);
	margin-right: 5px;
	padding: 0;
	white-space: nowrap;
	font-size: 1.3rem;
}
.radio-toldot .audio-info .audio-title:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 16px;
	height: 18px;
	background: url("../images/audio-title-shadow.png") bottom no-repeat;
}
.radio-toldot .audio-info .audio-time {
	display: inline-block;
	width: 72px;
	padding: 0;
	font-size: 1.2rem;
	font-weight: normal;
	vertical-align: 4px;
}


.radio-list a {
	display: table;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    color: #000;
}
.radio-list img {
	width: 45px;
	height: 45px;
}
.radio-list .title {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: 20px;
}
.radio-list a:hover .title {
	text-decoration: underline;
}
.radio-list .time {
    display: table-cell;
    vertical-align: middle;
}