.recommendation-link {
	display: block;
	padding: 14px 0;
 	border-top: 1px solid #e5e5e5;
	font-family: 'Noto Serif', serif;
 	color: #000;
 	text-decoration: none;
}
.recommendation-link:first-child {
 	padding-top: 15px;
 	border-top: none;
}
.recommendation-link a {
	text-decoration: none;
 	color: #000;
}
.recommendation-link:hover .title {
	text-decoration: underline;
}
.recommendation-link .details {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	color: #6c6c6c;
}
.recommendation-link .description {
	margin-top: 10px;
	font-size: 1.4rem;
	line-height: 1.4;
}
.recommendation-link .title {
	margin-bottom: 7px;
	font-size: 1.3rem;
	font-weight: bold;
}