.shop-item {
	display: block;
	padding: 20px 20px 0;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
.shop-item .image {
	text-align: center;
	font-size: 0;
	margin-bottom: 5px;
}
.shop-item .price {
	background-color: #1159a9;
	color: #fff;
	font-size: 1.8rem;
	padding: 4px 0 3px;
}
.shop-item .title {
	font-size: 1.4rem;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;
}
.shop-item .author {
	font-size: 1.3rem;
	font-weight: bold;
	color: #717171;
}
.shop-item:hover .title,
.shop-item:hover .author {
	text-decoration: underline;
}