

/* цвета */
.sidemenu h4 a {
    color: inherit;
}
.page_gallery .sidemenu h4 {
    color: #9c5630;
}
.page_ask .sidemenu h4,
.page_ask-article .sidemenu h4 {
    color: #b38d39;
}
.page_audio .sidemenu h4 {
    color: #c4af23;
}

.page_family .sidemenu h4 {
    color: #d55940;
}



/* структура */
.sidemenu h4 a {
    display: block;
    height: 100%;
    padding: 0;
    border: none;
    text-decoration: none;
}
.sidemenu h4 a:hover {
    text-decoration: underline;
}

.sidemenu .first-level-nav > li {
    padding: 19px 0 19px 0;
    border-top: 1px solid #eef6e7;
}
.sidemenu .second-level-nav > li:before{
    color: #000;
    display: inline-block;
    content: "\2022";
    padding-right: 7px;
}
.sidemenu .first-level-nav > li:first-child {
    padding-top: 5px;
    border-top: none;
}
.sidemenu .second-level-nav {
    padding: 13px 0 7px 0;
    font: bold 13px/22px 'Open Sans', sans-serif;
}
.sidemenu .second-level-nav > li a {
    color: #000;
    text-decoration: none;
}
.sidemenu .second-level-nav > li a:hover {
    text-decoration: underline;
}