.talmud-students-box {
	background-color: #fff;
	border: 2px solid #109346;
	padding: 15px;
	color: #109346;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}

.talmud-students-box-light {
	width: 300px;
	float: left;
	text-align: left;
}


.talmud-students-box-light .online-label {
	margin-bottom: 20px;
}

.talmud-students-box .counter {
	font-size: 14px;
}

.talmud-students-box .online-label {
	color: #6c6c6c;
	font-size: 12px;
}

.talmud-students-box .sutoUsers {
	margin: 15px 0;
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
	padding: 10px;
	height: 180px;
	overflow: auto;
	font-size: 14px;
}

.talmud-students-box .sutoUserPlashka {
	margin-bottom: 15px;
}
.talmud-students-box .wantToPart {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.talmud-students-box .wantToPart .all-students {
	color: #109346;
	float: left;
}
.talmud-students-box .wantToPart .register {
	float: right;
	color: #109346;
	text-decoration: none;
	border-bottom: 1px dotted;
}

.talmud-students-box-light .wantToPart .register {
	float: none;
}
