/* стили для страницы */
@import "_daytopic-article.css";
@import "_ask-buttons.css";






/* перенести кнопки в глобал и удалить отсюда и из _audio-link.css */
.buttons {
	font-size: 0;
	margin-bottom: 12px;
}
.button {
	display: inline-block;
	margin: 0 7px 0 0;
	padding: 1px 18px 2px 26px;
	font: normal 13px 'Open Sans', sans-serif;
	color: #676767;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	vertical-align: top;
	text-decoration: none;
}
.button.set-aside:hover,
.button.subscribe:hover {
	background-color: #f2f2f2;
}
.button.set-aside {
	background: #ebebeb url('../images/icon-time.png') 5px 3px no-repeat;
}
.button.subscribe {
	background: #ebebeb url('../images/icon-plus.png') 7px 5px no-repeat;
}
.button.true {
	background: #d4e6c5 url('../images/icon-tick.png') 7px 5px no-repeat;	
}
.button.true:hover {
	background-color: #dff2d0;
}

















.content_colored .askQuestionButton {
	float: right;
	color: #fff;
 	padding: 10px 13px 8px 13px;
  	text-transform: uppercase;
	text-decoration: none;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	background: #b38d39;
}
.content_colored .askQuestionButton:hover {
	opacity: .8;
}
.content_colored .askLink {
	color: #b38d39;
	text-decoration: underline;
  	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	float: right;
	 margin: 9px 0 0 20px;
}
.content_colored .askLink:hover {
	text-decoration: none;
}
.content_colored h4 {
	margin-bottom: 4px;
}
.content_colored .details {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #6c6c6c;
	margin-bottom: 10px;
}
.content_colored p {
	font-family: 'Noto Serif', serif;	
	font-size: 14px;
	line-height: 1.4;
}









































.page_ask-article .column-right .header {
	color: #6c6c6c;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border-bottom: 2px solid #b38d39;
	height: 64px;
}

.page_ask-article .column-right .header img {
	float: left;
	margin: 0 20px 0 0;
}
.page_ask-article .column-right .header h6 {
	color: #000;
	font-family: 'Open Sans', sans-serif;
}



.answer-link {
	padding-top: 20px;
 	border-top: 1px solid #e5e5e5;
	font-family: 'Open Sans', sans-serif;
}
.answer-link:first-child {
	border: 0;
}
.answer-link h6 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
}

.answer-link .details {
	font-size: 12px;
	color: #6c6c6c;
	margin-bottom: 10px;
}
.answer-link p {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 1.4;
}
