@import "_block-seo.css";
@import "_daytopic-title.css";
@import "_daytopic.css";
@import "_daytopic-article.css";
@import "_intopic.css";

@import "_audio-link.css";
@import "_audio-catalog.css";
@import "_audio-authors.css";
@import "_catalog-pagination.css";

@import "_ask-buttons.css";

.page_ask h1,
.page_ask h3 {
	color: #b38d39;
}
.page_ask .ask-main .column-central {
	background: #f7f2e7;
}
.page_ask .ask-main .column-central {
	border-color: #e5e5e5;
}
.page_ask .audio-catalog .audio-list-wrapper {
	background: #f7f2e7;
}
.page_ask .ask-main .column-central h3 {
	color: #000;
}
.page_ask .tag-cloud a:hover {
	color: #b38d39;
}

.ask-main {
	margin-bottom: 25px;
}
.ask-main .column-left {
	width: 17%;
	padding: 0 20px 0 0;
}
.ask-main .column-right {
	width: 25.45%;
}
.ask-main .column-central {
	padding: 20px;
	width: auto;
}
.ask-main .column-central .column-left {
	width: 57%;
}
.ask-main .lenta-box {
	border: 2px solid #ddd;
	margin-bottom: 20px;
}
.ask-main .column-central h1,
.ask-main .column-central h3 {
	padding-bottom: 10px;
	border-bottom: 2px solid #d6ddcf;
}
.ask-main .column-central h3 {
  	padding: 10px 0 12px 0;
}
.audio-lessons-summary {
	margin-top: 10px;
	font: normal 1.4rem 'Open Sans', sans-serif;
}
.page_ask .audio-lessons-summary span {
	font-weight: bold;
	color: #b38d39;
}
.ask-main .column-central .more {
	margin-left: 5px;
	font: normal 1.4rem 'Open Sans', sans-serif;
	color: #01369d;
	text-decoration: underline;
}
.ask-main .column-central .more:hover {
	text-decoration: none;
}

