/* стили для страницы циклов */
@import "_tests.css";
@import "_catalog-pagination.css";
@import "_daytopic-title.css";
@import "_daytopic-article.css";
@import "_daytopic.css";
@import "_intopic.css";
@import "_catalog-item.css";
@import "_authors-list.css";
@import "_audio-link.css";


/* ============================================================================== */
.page_blogs .blogsLink {
    padding: 20px 0 10px;
}

.page_blogs .blogsLink .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #717171;
    text-align: left;
    margin: 5px 0 10px;
}

.page_blogs .catalog-pagination li.selected a {
    background-color: #3792aa;
}

.page_blogs .content_colored {
    background-color: #f0f7f9;
    padding: 0 0 1px 0;
    border-bottom: 1px solid #e5e5e5;
}

.page_blogs .catalog-item .catalog-info-container {
    margin-right: 0;
}

.page_blogs .color-PHOTO {
    color: #c50825;
    border-bottom: 2px solid #c50825;
}

.page_blogs .top-block .column-central {
    width: auto;
}

.page_blogs .blogs-heading-block {
    float: left;
}

.page_blogs .authors-block {
    float: right;
    margin: 0 40px 20px 45px;
    width: 72%;
    overflow: hidden;
    height: 40px;
}

.page_blogs .authors-expanded {
    height: auto;
}

.page_blogs .authors-block img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
    float: left;
}
.blogs-authors-block {
    padding: 20px;
    position: relative;
}
.toggle-authors {
    position: absolute;
    right: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icon-arrow-down.png) center center no-repeat, #f0f7f9;

    cursor: pointer;
}

.toggle-authors.flipped {
    background: url(../images/icon-arrow-up.png) center center no-repeat, #f0f7f9;
}

.recent-articles {
    background-color: #f0f7f9;
    padding: 20px;
}

.page_blogs h1,
.page_blogs .recent-articles h2,
.page_blogs .recent-articles h4 {
    color: #3792aa;
}

.articles-block {
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

.articles-block .table-cell {
    width: 33.3%;
}


.articles-block img {
    display: block;
    float: left;
    margin: 0 10px 20px 0;
}

.articles-block .article {
    padding-right: 20px;
}
.articles-block .article:last-child {
    padding-right: 0;
}

.articles-block .author {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #717171;
    font-weight: bold;
    margin-top: 5px;
}

.article-text {
    clear: both;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.page_blogs .blogs-topic {
    padding: 20px !important;
}

.page_blogs .top-block {
    margin-bottom: 20px;
}
.page_blogs .blogs-topic-top-block img {
    float: left;
    margin: 0 25px 25px 0;
}

.page_blogs .blogs-topic-top-block .author-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.page_blogs .blogs-topic-top-block .description {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 24px;
}

.page_blogs .blogs-topic-top-block .description a {
    margin: 0;
}

.page_blogs .blogs-topic-top-block .note {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.page_blogs .blogs-topic-top-block .note a {
    font-weight: bold;
}

.blogs-topic .catalog-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.page_blogs .catalog-item-blog .description img {
    display: block;
}


/*.datepicker*/
.ui-datepicker-calendar {
    width: 100%;
    margin-bottom: 30px
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-year {display: none}
.ui-datepicker-month {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #3792aa
}
.ui-datepicker-header {
    position: relative;
    height: 30px;
    margin-bottom: 20px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../images/arrows-sprite.png");
    cursor: pointer;
}
.ui-datepicker-prev {
    left: 0;
}
.ui-datepicker-next {
    background-position: 30px 0;
    right: 0;
}

.ui-datepicker-calendar thead {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #cccccc;
    text-transform: lowercase;
}
.ui-datepicker-calendar tbody {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
}
.ui-datepicker-calendar tbody a {
    color: #000;
    text-decoration: none;
}
.ui-datepicker-today a {
    font-weight: bold;
}