/* стили для страницы циклов */
@import "_tests.css";
@import "_catalog-pagination.css";
@import "_daytopic-title.css";
@import "_daytopic-article.css";
@import "_daytopic.css";

@import "_catalog-item.css";
@import "_authors-list.css";
@import "_audio-link.css";
@import "_socials.css";

@import "_datepicker.css";

/* ============================================================================== */
.page_blogs .blogsLink {
    padding: 20px 0 10px;
}

.page_blogs .blogsLink .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #717171;
    text-align: left;
    margin: 5px 0 10px;
}

.page_blogs .catalog-pagination li.selected a {
    background-color: #3792aa;
}

.page_blogs .content_colored {
    background-color: #f0f7f9;
    padding: 0 0 1px 0;
    border-bottom: 1px solid #e5e5e5;
}

.page_blogs .catalog-item .catalog-info-container {
    margin-right: 0;
}

.page_blogs .color-PHOTO {
    color: #c50825;
    border-bottom: 2px solid #c50825;
}

.page_blogs .top-block .column-central {
    width: auto;
}

.page_blogs .blogs-heading-block {
    float: left;
}

.page_blogs .authors-block {
    float: right;
    margin: 0 40px 20px 45px;
    width: 72%;
    overflow: hidden;
    height: 40px;
}

.page_blogs .authors-block-expanded {
	z-index: 10;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.authors-block-placeholder {
	display: none;
	height: 128px;
	width: 100%;
}

.page_blogs .authors-expanded {
    height: auto;
}

.page_blogs .authors-block img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
    float: left;
}
.blogs-authors-block {
    padding: 20px;
    position: relative;
}
.toggle-authors {
    position: absolute;
    right: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/icon-arrow-down.png) center center no-repeat, #f0f7f9;

    cursor: pointer;
}

.toggle-authors.flipped {
    background: url(../images/icon-arrow-up.png) center center no-repeat, #f0f7f9;
}

.recent-articles {
    background-color: #f0f7f9;
    padding: 20px;
}

.page_blogs h1,
.page_blogs .recent-articles h2,
.page_blogs .recent-articles h4 {
    color: #3792aa;
}

.articles-block {
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

.articles-block .table-cell {
    width: 33.3%;
}


.articles-block img {
    display: block;
    float: left;
    margin: 0 10px 20px 0;
}

.articles-block .article {
    padding-right: 20px;
}
.articles-block .article:last-child {
    padding-right: 0;
}

.articles-block .author {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #717171;
    font-weight: bold;
    margin-top: 5px;
}

.article-text {
    clear: both;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.page_blogs .blogs-topic {
    padding: 20px !important;
}

.page_blogs .top-block {
    margin-bottom: 20px;
}
.page_blogs .blogs-topic-top-block img {
    float: left;
    margin: 0 25px 25px 0;
}

.page_blogs .blogs-topic-top-block .author-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.page_blogs .blogs-topic-top-block .description {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 24px;
}

.page_blogs .blogs-topic-top-block .description a {
    margin: 0;
}

.page_blogs .blogs-topic-top-block .note {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.page_blogs .blogs-topic-top-block .note a {
    font-weight: bold;
}

.blogs-topic .catalog-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.page_blogs .catalog-item-blog .description img {
    display: block;
}






.page_blogs .all-authors {
    float: right;
    width: 225px;
}
.page_blogs .all-authors img {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
.page_blogs .all-authors-button {
    height: 64px;
    width: 64px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
	padding-left: 8px;
}
.page_blogs .all-authors-button .icon-arrow-right{
	background: url("../images/icon-arrow-right.png") no-repeat;
	height: 13px;
	width: 8px;
	margin: 8px 0;
}
.page_blogs .all-authors-button .icon-arrow-left{
    background: url("../images/icon-arrow-left.png") no-repeat;
    height: 13px;
    width: 8px;
    margin: 8px 0;
}
.page_blogs .all-authors-button a{
    color: #000;
    text-decoration: none;
}
.page_blogs .all-authors img:nth-child(3n) {
    margin-right: 0;
}

.page_blogs .all-authors-expanded {
    position: absolute;
    right: 20px;
    width: 740px;
    padding: 20px;
    margin-top: -20px;
    background: #fff;
    z-index: 10;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.page_blogs .all-authors-expanded img:nth-child(3n)  {
    margin-right: 10px;
}
.page_blogs .all-authors-full {
    display: none;
}

.blogs-topic .content {
    clear: both;
    border-top: 2px solid #d8dee0;
    padding-top: 35px;
}

.blogs-topic .content .date {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #717171;
    margin-top: 6px;
    margin-bottom: 25px;
}
.blogs-topic .content p {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
}
.blogs-topic .content img {
    margin-bottom: 30px;
    margin-top: 10px;
}

.related-articles {
	font-family: 'Open Sans', sans-serif;
    padding: 25px 20px;
    background-color: #e2eff3;
    color: #676767;
}
.related-articles a{
    text-decoration: none;
	font-size: 13px;
}

.related-articles .heading{
	font-size: 13px;
    margin-bottom: 20px;
}

.related-article {
    display: inline-block;
    width: 24%;
}
.related-article .date {
	font-size: 12px;
}
.current-article a{
    color: #000;
    font-weight: bold;

}

.leave-a-comment h4{
    margin: 10px 0;
}
.leave-a-comment textarea{
    width: 100%;
    height: 90px;
    padding: 15px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    box-sizing: border-box;
}
.leave-a-comment button{
    padding: 8px 25px;
}

.comments-block {
    margin: 25px 0;
}
.comments-block h4 {
    padding-bottom: 12px;
}

.comments-block .comment {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}
.comments-block .comment:last-child {
    border: none;
}
.comments-block .comment img {
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 15px 10px 0;
}
.comments-block .comment .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    vertical-align: middle;
    color: #717171;
}
.comments-block .comment .answer {

    padding: 4px 9px;
    margin-top: 5px;
}
.comments-block .comment p {
    clear: both;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.comments-block .comment.shifted-1 {
    margin-left: 100px;
}
.comments-block .comment.shifted-2 {
    margin-left: 200px;
}