@import "indyFadeBox.css";

/* ----- common styles ----- */
.page_landing {
	font-family: 'Open Sans', sans-serif;
}
.page_landing header {
	margin-bottom: 1px;
}
.page_landing .landing-nav,
.page_landing footer,
.page_landing header {
	min-width: 1280px;
}
.page_landing a {
	text-decoration: none;
}
.page_landing a:hover {
	text-decoration: underline;
}


/* ----- main content block ----- */
.content {
	position: relative;
	overflow: hidden;
	min-width: 1280px;
}
.landing-calendar .content {
	background: url('../images/landing/bg-3.jpg') 0 0 repeat;
}
.landing-life .content {
	background: url('../images/landing/bg-1.jpg') 0 0 repeat;
}
.landing-cycle .content {
	background: url('../images/landing/bg-2.jpg') 0 0 repeat;
}

.content:before {
	content: '';
	position: absolute;
    bottom: 560px;
    left: 50%;
    display: block;
    width: 10px;
    height: 100%;
    margin-left: -5px;
    background: #fff;
}
.parallax {
	overflow: hidden;
}


/* ----- top navigation ----- */
.landing-calendar .landing-nav {
	background: #b46a22;
}
.landing-life .landing-nav {
	background: #d2ac26;
}
.landing-cycle .landing-nav {
	background: #869aa3;
}

.landing-nav ul {
	height: 80px;
	min-height: 80px;
}
.landing-nav li {
	position: relative;
	vertical-align: middle;
	font: normal 2.4rem 'Noto Serif', serif;
	color: #fff;
}
.landing-nav li a {
	display: inline-block;
	padding: 0 0 0 100px;
	color: #fff;
}
.landing-nav .current {
	text-align: center;
	font-size: 3.6rem;
}
.landing-nav .left a:before,
.landing-nav .right a:before {
	content: '';
	position: absolute;
	top: 0;
	display: block;
	height: 100%;
	width: 80px;
}
.landing-nav .left a:before {
	left: 0;
	background: rgba(0,0,0,0.2) url('../images/icon-landing-arrow-left.png') 50% no-repeat;
}
.landing-nav .right a:before {
	right: 0;
	background: rgba(0,0,0,0.2) url('../images/icon-landing-arrow-right.png') 50% no-repeat;
}
.landing-nav .right {
	text-align: right;
}
.landing-nav .right a {
	padding: 0 100px 0 0;

}
.landing-nav .right a:before {
	float: right;
	margin: 0 0 0 20px;
}


/* ----- content ----- */
.level {
	position: relative;
}

/* ----- images ----- */
.picture-section {
    height: 344px;
    width: 100%;
    border-top: 10px solid #fff;
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
}
.level:first-child .picture-section {
	border: none;
}
.level:last-child .info-section:before {
	display: none;
}

.bg-1-1 {
	background-image: url('../images/landing/1/01.jpg');
}
.bg-1-2 {
	background-image: url('../images/landing/1/02.jpg');
}
.bg-1-3 {
	background-image: url('../images/landing/1/03.jpg');
}
.bg-1-4 {
	background-image: url('../images/landing/1/04.jpg');
}
.bg-1-5 {
	background-image: url('../images/landing/1/05.jpg');
}
.bg-1-6 {
	background-image: url('../images/landing/1/06.jpg');
}
.bg-1-7 {
	background-image: url('../images/landing/1/07.jpg');
}
.bg-1-8 {
	background-image: url('../images/landing/1/08.jpg');
}
.bg-1-9 {
	background-image: url('../images/landing/1/09.jpg');
}
.bg-1-10 {
	background-image: url('../images/landing/1/10.jpg');
}
.bg-1-11 {
	background-image: url('../images/landing/1/11.jpg');
}
.bg-1-12 {
	background-image: url('../images/landing/1/12.jpg');
}
.bg-1-13 {
	background-image: url('../images/landing/1/13.jpg');
}
.bg-1-14 {
	background-image: url('../images/landing/1/14.jpg');
}
.bg-1-15 {
	background-image: url('../images/landing/1/15.jpg');
}
.bg-1-16 {
	background-image: url('../images/landing/1/16.jpg');
}
.bg-1-17 {
	background-image: url('../images/landing/1/17.jpg');
}
.bg-1-18 {
	background-image: url('../images/landing/1/18.jpg');
}
.bg-1-19 {
	background-image: url('../images/landing/1/19.jpg');
}
.bg-1-20 {
	background-image: url('../images/landing/1/20.jpg');
}
.bg-1-21 {
	background-image: url('../images/landing/1/21.jpg');
}
.bg-1-22 {
	background-image: url('../images/landing/1/22.jpg');
}
.bg-1-23 {
	background-image: url('../images/landing/1/23.jpg');
}
.bg-1-24 {
	background-image: url('../images/landing/1/24.jpg');
}
.bg-1-25 {
	background-image: url('../images/landing/1/25.jpg');
}
.bg-1-26 {
	background-image: url('../images/landing/1/26.jpg');
}

.bg-2-1 {
	background-image: url('../images/landing/2/01.jpg');
}
.bg-2-2 {
	background-image: url('../images/landing/2/02.jpg');
}
.bg-2-3 {
	background-image: url('../images/landing/2/03.jpg');
}
.bg-2-4 {
	background-image: url('../images/landing/2/04.jpg');
}
.bg-2-5 {
	background-image: url('../images/landing/2/05.jpg');
}
.bg-2-6 {
	background-image: url('../images/landing/2/06.jpg');
}
.bg-2-7 {
	background-image: url('../images/landing/2/07.jpg');
}
.bg-2-8 {
	background-image: url('../images/landing/2/08.jpg');
}
.bg-2-9 {
	background-image: url('../images/landing/2/09.jpg');
}
.bg-2-10 {
	background-image: url('../images/landing/2/10.jpg');
}
.bg-2-11 {
	background-image: url('../images/landing/2/11.jpg');
}
.bg-2-12 {
	background-image: url('../images/landing/2/12.jpg');
}
.bg-2-13 {
	background-image: url('../images/landing/2/13.jpg');
}
.bg-2-14 {
	background-image: url('../images/landing/2/14.jpg');
}
.bg-2-15 {
	background-image: url('../images/landing/2/15.jpg');
}
.bg-2-16 {
	background-image: url('../images/landing/2/16.jpg');
}
.bg-2-17 {
	background-image: url('../images/landing/2/17.jpg');
}
.bg-2-18 {
	background-image: url('../images/landing/2/18.jpg');
}
.bg-2-19 {
	background-image: url('../images/landing/2/19.jpg');
}
.bg-2-20 {
	background-image: url('../images/landing/2/20.jpg');
}
.bg-2-21 {
	background-image: url('../images/landing/2/21.jpg');
}
.bg-2-22 {
	background-image: url('../images/landing/2/22.jpg');
}
.bg-2-23 {
	background-image: url('../images/landing/2/23.jpg');
}
.bg-2-24 {
	background-image: url('../images/landing/2/24.jpg');
}

.bg-3-1 {
	background-image: url('../images/landing/3/01.jpg');
}
.bg-3-2 {
	background-image: url('../images/landing/3/02.jpg');
}
.bg-3-3 {
	background-image: url('../images/landing/3/03.jpg');
}
.bg-3-4 {
	background-image: url('../images/landing/3/04.jpg');
}
.bg-3-5 {
	background-image: url('../images/landing/3/05.jpg');
}
.bg-3-6 {
	background-image: url('../images/landing/3/06.jpg');
}
.bg-3-7 {
	background-image: url('../images/landing/3/07.jpg');
}
.bg-3-8 {
	background-image: url('../images/landing/3/08.jpg');
}
.bg-3-9 {
	background-image: url('../images/landing/3/09.jpg');
}
.bg-3-10 {
	background-image: url('../images/landing/3/10.jpg');
}
.bg-3-11 {
	background-image: url('../images/landing/3/11.jpg');
}
.bg-3-12 {
	background-image: url('../images/landing/3/12.jpg');
}
.bg-3-13 {
	background-image: url('../images/landing/3/13.jpg');
}
.bg-3-14 {
	background-image: url('../images/landing/3/14.jpg');
}
.bg-3-15 {
	background-image: url('../images/landing/3/15.jpg');
}
.bg-3-16 {
	background-image: url('../images/landing/3/16.jpg');
}
.bg-3-17 {
	background-image: url('../images/landing/3/17.jpg');
}
.bg-3-18 {
	background-image: url('../images/landing/3/18.jpg');
}
.bg-3-19 {
	background-image: url('../images/landing/3/19.jpg');
}
.bg-3-20 {
	background-image: url('../images/landing/3/20.jpg');
}

/* ----- circles ----- */
.circle {
	position: relative;
	width: 230px;
	height: 230px;
	border-radius: 100%;
	overflow: hidden;
	font: normal 1.8rem/1 'Open Sans', sans-serif;
	-webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);

	-webkit-transition: -webkit-box-shadow 200ms ease-out;
	-moz-transition: -moz-box-shadow 200ms ease-out;
	transition: box-shadow 200ms ease-out;
}
.circle a {
	display: block;
	color: #000;
}
.circle:hover {
	-webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
	cursor: pointer;
}
.circle .bottom-text {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	height: 50%;
	width: 100%;
	padding: 20px;
	background: #fff;
	text-align: center;
}
.circle .bottom-text.smaller-font {
	font-size: 2.8rem;
}
.circle img {
	position: absolute;
    left: 50%;
    /*margin-left: -321px;*/
	margin-left: -115px;
	height: 50%;
}
/*.landing-calendar .circle img {
	margin-left: -115px;
}*/


.info-section {
	position: relative;
	margin: 0 auto;
	padding: 145px 0 70px;
    width: 1280px;
}
.info-section:before {
	content: '';
	position: absolute;
	top: 145px;
	left: 50%;
	display: block;
	width: 10px;
	height: 110px;
	margin-left: -5px;
	background: #fff;
}
.tree-header {
	position: absolute;
	transform: translateZ(0);
	left: 50%;
	top: -145px;
	height: 290px;
	width: 290px;
	margin-left: -145px;
	-webkit-box-shadow: inset 0 0 0 10px #fff, 0 8px 8px 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 0 0 10px #fff, 0 8px 8px 0 rgba(0,0,0,0.2);
	font: 700 3.0rem/1 'Noto Serif', serif;
}
.tree-header:hover {
	-webkit-box-shadow: inset 0 0 0 10px #fff, 0 8px 8px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 0 0 10px #fff, 0 8px 8px 0 rgba(0,0,0,0.5);
}

.tree-container.middle-border:before {
	content: '';
	position: absolute;
	z-index: -1;
    bottom: 105px;
    left: 50%;
    display: block;
    width: 10px;
    height: 100%;
    margin-left: -5px;
    background: #fff;
}
.tree-content {
	padding: 0;
	font-size: 0;
}
.tree-content .tree-level {
	position: relative;
	display: inline-block;
	min-width: 465px;
	text-align: right;
	padding-top: 40px;
}
.tree-content .tree-level.from-main:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 20px;
	border-top: 10px solid #fff;
}
.tree-content .tree-level.from-top {
	padding-top: 40px;
}
.tree-content .tree-level.from-top.two-children:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	margin: 20px 0 0 -10px;
	border-top: 10px solid #fff;
}
.tree-content.left .tree-level.from-top.two-children:before {
	left: 0;
	margin-left: 0;
}
.tree-content .tree-level.custom-right-top.two-children:before {
	width: 25%;
	margin-left: 35px;
}
.tree-content .tree-level.custom-right-top.two-children .tree-elem:first-child:before {
	content: '';
	position: absolute;
	top: -50%;
	left: 50%;
	height: 100%;
	width: 10px;
	background: #fff;
    margin: 0 0 0 -5px;
}
.tree-content .tree-level.from-top.two-children:after {
	content: '';
	position: absolute;
	top: -50%;
	left: 50%;
	height: 100%;
	width: 10px;
	background: #fff;
    margin: 20px 0 0 35px;
}
.tree-content.left .tree-level.from-top.two-children:after {
	margin-left: -45px;
}
.tree-content .tree-level.from-top.only-one:before {
	content: '';
	position: absolute;
	top: -50%;
	left: 50%;
	height: 100%;
	width: 10px;
	background: #fff;
    margin: 20px 0 0 113px;
}
.tree-content.left .tree-level.from-top.only-one:before {
	margin-left: -122px;
}
.tree-content .tree-level .tree-elem {
	position: relative;
	z-index: 1;
	display: inline-block;
}
.tree-content .tree-level.only-one {

}
.tree-content.left {
	text-align: right;
}
.tree-content.left .tree-elem {
	margin-right: 80px;
	transform: translateZ(0);
}
.tree-content.left .only-one {
	text-align: left;
}
.tree-content.right {
	text-align: left;
}
.tree-content.right .tree-elem {
	margin-left: 80px;
	transform: translateZ(0);
}