@import "_tests.css";
@import "_weddings.css";
@import "_daytopic-title.css";
@import "_daytopic-article.css";
@import "_daytopic.css";
@import "_burial-places-search.css";
@import "_alphabet.css";
@import "_surnames.css";


.page_life .tests .image-block {
    width: 155px;
    float: left;
    margin-right: 15px;
}

.page_life .tests .description {
    margin-top: 15px;
    max-width: none;
    height: initial;
}

.page_life h1.bordered {
	margin-bottom: 20px;
}


/* ----- FORM ----- */
.page_life select {
	display: block;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border: 2px solid #e1e1e1;
    font-weight: bold;
    padding: 8px 8px 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 14px;
	background: #fff url('../images/icon-arrow-down-gray.png') right 10px center no-repeat;
    border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
.page_life select option[default] {
	display: none;
	font-size: 0px;
	color: transparent;
}
.page_life .dating-form select:required:invalid {
	color: #ccc;
}
.page_life .dating-form input[type="submit"] {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 14px;
}
.dating-form label.radio {
	margin-bottom: 14px;
	color: #000;
	font-size: 1.4rem;
	line-height: 36px;
}
.dating-form input[type="radio"] {
	vertical-align: text-top;
}
.form-line {

}
.dating-form .form-line label {
	display: inline-block;
	white-space: nowrap;

}
.dating-form .form-line input {
	display: inline-block;
	width: 120px;
	margin: 0 15px 14px 10px;
}
.dating-form .note {
	font: normal 1.2rem/1.8rem 'Open Sans', sans-serif;

}
.dating-form .note hr {
	width: 75px;
	margin: 10px 0 10px;
	border-color: #bebebe;
}
.dating-form .form-description {
	margin-top: 22px;
	font: normal 1.2rem/1.8rem 'Open Sans', sans-serif;
}
.dating-form .form-description b {
	font-size: 1.1rem;
	line-height: 1.7rem;
}
.dating-form .form-description p {
	margin-bottom: 5px;
}
.dating-form .form-description li:before {
	content: '— ';
}
.page_life hr {
	margin: 20px 0;
}



/* ----- LIFE -> SURNAMES ----- */
.page_life .popular-surnames {
	font: normal 1.3rem/2.4rem 'Open Sans', sans-serif;
}
.page_life .popular-surnames li:before {
	content: '•';
	margin-right: 10px;
	color: #0e53b2;
}
.page_life .tag-search {
	margin-bottom: 20px;
}

.page_life .daily-surname {
	font: normal 1.4rem/2.3rem 'Noto Serif', sans-serif;
}
.page_life .daily-surname h3 {
	margin-bottom: 15px;
}
.page_life .daily-surname p {
	margin-bottom: 10px;
}
.alphabet-saerch h3 {
	margin-bottom: 15px;
}



/* ----- LIFE -> NAMES ----- */
.page_life .names-title {
	font: bold 1.2rem 'Open Sans', sans-serif;;
}