html {
	font-size: 62.5%; /* =10px */
	width: 100%;

}
body {
	line-height: 1.2;
	font-size: 1.6rem; /* 1.6*10px = 16px */
	min-width: 950px;
	width: 100%;
}


/* для плавающих блоков */
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	content: '';
	visibility: hidden;
}

.wrapper { /* не должен быть на одном блоке с классом .table */
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px;
}

/* табличная модель */
.table {
	display: table;
	width: 100%;
	/*box-sizing: border-box;*/
}
.table-cell {
	display: table-cell;
	vertical-align: top;
}
.table-cell {
	padding-left: 20px;
	width: 33.3%;
}
.table-cell:first-child {
	padding-left: 0;
	width: 33.4%;
}
.table-cell.double { /* перебивает ширину */
	width: 66.7%;
}
.table-cell .table-cell {
	width: 50%; /* перебивает ширину - при вложнности в двойную ячейку */
}


b {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: 'Noto Serif', serif;	
}
h6 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.8rem;
}
h3 {
	font-size: 2rem;
}
h2 {
	font-size: 2.4rem;
}
h1 {
	font-size: 3rem;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
input[type="text"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}











/* цветные заголовки */

[class ^= color] a {
	text-decoration: none;
  	z-index: 10; /* чтоб цветная граница закрыла серую */
  	position: relative; /* чтоб цветная граница закрыла серую */
	padding-bottom: 10px;
	display: block;
	white-space: nowrap; /* чтоб строка не переносилась */
}
/*[class ^= color] a:hover {
	opacity: .8;
}*/
[class ^= color] a:hover .arrow {
	margin-left: 5px;
}
.arrow, .arrow:after {
	font-family: Arial, serif;
}
.arrow {
	position: relative;
	display: inline-block;
	font-size: 18px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.arrow:after { 
	font-size: 13px;
	position: absolute;
	display: block;
	content: "\25C6";
	color: #fff;
	top: 3px;
	left: 0;
}
.color-b38d39 a {
	color: #b38d39;
	border-bottom: 2px solid #b38d39;
}
.color-d55940 a {
	color: #d55940;
	border-bottom: 2px solid #d55940;
}
.color-727272 a {
	color: #727272;
	border-bottom: 2px solid #727272;
}
.color-3792aa a {
	color: #3792aa;
	border-bottom: 2px solid #3792aa;
}
.color-7247ba a {
	color: #7247ba;
	border-bottom: 2px solid #7247ba;
}
.color-8db20e a {
	color: #8db20e;
	border-bottom: 2px solid #8db20e;
}
.color-43ac69 a {
	color: #43ac69;
	border-bottom: 2px solid #43ac69;
}
.color-b20e89 a {
	color: #b20e89;
	border-bottom: 2px solid #b20e89;
}
.color-1259a8 a {
	color: #1259a8;
	border-bottom: 2px solid #1259a8;
}





a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.more:after {
	display: inline-block;
	content: "\2192";
	padding-left: 5px;
}