html {
	font-size: 62.5%; /* =10px */
	width: 100%;

}
body {
	line-height: 1.2;
	font-size: 1.6rem; /* 1.6*10px = 16px */
	min-width: 1024px;
	width: 100%;
}


/* для плавающих блоков */
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	content: '';
	visibility: hidden;
}

.wrapper { /* не должен быть на одном блоке с классом .table */
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 20px;
}

/* табличная модель */
.table {
	display: table;
	width: 100%;
	/*box-sizing: border-box;*/
}
.table-cell {
	display: table-cell;
	vertical-align: top;
}
.table-cell {
	padding-left: 20px;
	width: 33.3%;
}
.table-cell:first-child {
	padding-left: 0;
	width: 33.4%;
}
.table-cell.double { /* перебивает ширину */
	width: 66.7%;
}
.table-cell .table-cell {
	width: 50%; /* перебивает ширину - при вложнности в двойную ячейку */
}



h1, h2, h3, h4, h5, h6, b {
	font-weight: bold;
	font-family: 'Noto Serif', serif;	
}
h6 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.8rem;
}
h3 {
	font-size: 2rem;
}
h2 {
	font-size: 2.4rem;
}
h1 {
	font-size: 3rem;
}


a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.more:after {
	display: inline-block;
	content: "\2192";
	padding-left: 5px;
}