@import "_talmud-top-block.css";
@import "_map.css";
@import "_daytopic-title.css";
@import "_daytopic-article.css";
@import "_talmud-students.css";
@import "_talmud-teachers.css";

/* ============================================================================== */

.page_talmud .sidemenu h4 {
	color: #7247ba;

}

.page_talmud .content_colored {
	background-color: rgba(233,233,233,0.85);

}

.page_talmud .daytopic-title {
	background-image: url('/images/header-bg-4.jpg') ;
}