@import "_catalog-pagination.css";
@import "_daytopic-title.css";
@import "_daytopic-article.css";
@import "_daytopic.css";
@import "_authors-list.css";
@import "_catalog-item.css";
@import "_video-live.css";
@import "_video-link.css";
@import "_audio-link.css";
@import "_useful-links.css";
@import "_lessons-navigation.css";

.video-bar {
	margin: 20px 0;
}
.video-bar .table-cell {
	width: auto;
}
.video-bar .table-cell.right {
	width: 570px;
}
.video-bar .details {
	margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 23px;
    color: #6c6c6c;
}
.video-bar .description {
	font: normal 14px 'Noto Serif', serif;
}
.video-bar .buttons > * {
	margin-bottom: 10px;
}