.recommendation-link {
	font-family: 'Noto Serif', serif;
	display: block;
 	border-top: 1px solid #e5e5e5;
 	/* margin-top: -1px; чтоб цветная граница закрыла серую */
 	/* z-index: 1;  чтоб цветная граница закрыла серую */
 	padding: 14px 0;
 	color: #000;
 	text-decoration: none;
}
.recommendation-link:first-child {
 	border-top: none;
 	padding-top: 15px;
}
.recommendation-link h6,
.recommendation-link h5,
.recommendation-link h4 {
	margin-bottom: 5px;
}
.recommendation-link a {
	text-decoration: none;
 	color: #000;
}
.recommendation-link a .title:hover {
	text-decoration: underline;
}
.recommendation-link .details {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	color: #6c6c6c;
}
.recommendation-link .description {
	margin-top: 10px;
	font-size: 1.4rem;
	line-height: 1.4;
}
.recommendation-link .title {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 7px;
}