.footer {
	border-top: 1px solid #dddddd;
	background: #f3f3f3;
	background-image: -webkit-linear-gradient(top, #eee, #f8f8f8);
   background-image: -moz-linear-gradient(top, #eee, #f8f8f8);
   background-image: -ms-linear-gradient(top, #eee, #f8f8f8);
   background-image: -o-linear-gradient(top, #eee, #f8f8f8);
}
.footer .separate {
	border-bottom: 1px solid #d2d2d2;
}

/* первый блок - см. в стилях sitemap */


/* второй блок */

.contacts-box {
	padding: 35px 0 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	color: #707070;
}
.contacts-box .contacts  {
	margin-bottom: 17px;
}
.contacts-box .contacts span {
	margin: 0 40px 40px 0;
}
.contacts-box .socials a {
	text-decoration: none;
	font-size: 0;
	display: inline-block;
	margin: 0 5px;
}
.contacts-box .socials a:hover {
	opacity: .7;
}

/* третий блок */

.copyrights-box {
	padding: 35px 0 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	color: #707070;
}
.copyrights-box h2 {
	color: #000;
	margin-bottom: 30px;
}
.copyrights-box p {
	margin-bottom: 8px;
}