/* для отображения в футере */
.sitemap-box {
	padding: 15px 0 25px;
	font-family: 'Open Sans', sans-serif;
}
.sitemap-box ul {
	display: block;
	float: left;
	margin-right: 2%;
}
.sitemap-box li a {
	font-size: 1.2rem;
	color: #505050;
}
.sitemap-box li.root a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 3.3;
}
.sitemap-box li a {
	text-decoration: none;
	line-height: 1.8;
}
.sitemap-box li a:hover {
	text-decoration: underline;
}

/* для отображения в меню */ 
.submenu-box {
	padding: 15px 0 25px;
	font-family: 'Open Sans', sans-serif;
}
.submenu-box ul {
	display: block;
	float: left;
	margin-right: 3%;
}
.submenu-box li a {
	font-size: 1.2rem;
	color: #505050;
	text-decoration: none;
	line-height: 1.8;
}
.submenu-box li a:hover {
	text-decoration: underline;
}
.submenu-box li.root,
 .submenu-box .no-in-menu {
	display: none;
}