 .slider {
 	height: 295px;
 	overflow: hidden;
	margin-bottom: 40px;
 	position: relative;
 }
.slider ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 295px;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: none;
}
.slider ul li.on {
	z-index: 100; /* для того, чтобы сразу располагать следующий слайд поверх */
}
.slider .nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	z-index: 102;
	text-align: center;
}
.slider .nav span {
	opacity: 0.9;
	background: #fff;
	opacity: 0.5;
	margin: 0 10px 0 0;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
}
.slider .nav span.on {
	opacity: 1;
}