.audio-main .column-left {
	width: 17%;
}
.audio-main .column-right {
	width: 25.45%;
}
.audio-main .column-central {
	padding: 20px;
	width: auto;
	background: #eef6e7;
}

.audio-main .lenta-box {
  border: 2px solid #ddd;
  margin-bottom: 20px;
}

.audio-lessons h1 {
	margin-bottom: 10px;
}
.different-font-size {
	position: relative;
	height: 3.5rem;
	margin-bottom: 10px;
}
.different-font-size h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
}
.audio-lessons-summary {
	font: normal 1.4rem 'Open Sans', sans-serif;
}
.audio-lessons-summary span {
	font-weight: bold;
	color: #8db20e;
}