
.galleryWrapper .column-left {
    width: 20% ;
    padding: 20px;
}

.galleryWrapper .column-right {
    width: 20%;
    padding: 20px;
}

/* ======== galleryCategories ======== */

.galleryCategories ul {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.galleryCategories ul li {
    line-height: 24px;
}

.galleryCategories a {
    text-decoration: none;
    color: #000;
}

.galleryWrapper .banner {
    margin-bottom: 30px;
}

.galleryWrapper .column-central {
    width: auto;
}

.galleryWrapper .column-central h2,
.galleryWrapper .column-left h4 {
    color: #9c5630;
}

.galleryWrapper .search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: none;
    width: 100%;
    border: 2px solid grey;
    padding: 7px 10px;
    position: relative;
}

.paginator {
    text-align: center;
    font-size: 0;
}

.paginator li {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
}

.galleryBlock {
    text-align: center;
    font-size: 0;
}

.galleryBlock .photoBlock {
    width: 30%;
    height: 100px;
    background-color: green;
    display: inline-block;
    margin: 0 25px 30px 0;

}

.galleryBlock .photoBlock:nth-child(3n) {
    margin-right: 0;
}