
.galleryWrapper .column-left {
    width: 20% ;
}

.galleryWrapper .column-right {
    width: 20%;
}

.galleryWrapper .column-central {
    width: auto;
}

.galleryWrapper .search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: none;
    width: 100%;
    border: 2px solid grey;
    padding: 7px 10px;
    position: relative;
}

.paginator {
    text-align: center;
    font-size: 0;
}

.paginator li {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
}

.galleryBlock {
    text-align: center;
    font-size: 0;
}

.galleryBlock .photoBlock {
    width: 30%;
    height: 100px;
    background-color: green;
    display: inline-block;
    margin: 0 25px 30px 0;

}

.galleryBlock .photoBlock:nth-child(3n) {
    margin-right: 0;
}